.headline {
    background-color: #ffffff;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav-scroll {
    flex-direction: row;
}

.navbar-nav .nav-item {
    padding: 0px 10px;
}

.nav-toggle {
    display:none;
}

.headline {
    margin: 0px;
    padding: 10px;
    text-align: middle;
}

.carousel {
    width: 100%;
    padding: 0px;
    margin: 10px;
}

